{% extends "start_journal.html" %}

{% block content %}
<div class="journal_menu">
    <ul id="menu_p1" style="display:flex;  list-style: none; text-decoration: none;  padding-left: 15px; ">
        <li style="margin-top:5px"><a href="{{url_for('main.show_journal')}}">Посещаемость</a></li>
        <li style="margin-top:5px"><a href="{{url_for('main.students_works')}}">Работы </a></li>
        <li style="margin-top:5px"><a href="{{url_for('main.show_statistic')}}">Статистика</a></li>
        <li style="margin-top:5px"><a id="active" href="{{url_for('main.show_attestation')}}">Аттестация</a></li>
        <li style="margin-top:5px"><a href="{{url_for('main.show_course_materials')}}">Содержание дисциплины</a></li>
        <li>
            <div class="form-group">
                <select name="journal_more" class="custom-select mx-sm-1" id="journal_disp" style="color:black; border-radius: 50px; background-color:white"> <!-- #FEEFDD -->
                    <option selected>Выбрать</option>
                    <option value="Ведомости">Ведомости</option>
                    <option value="Програмная инженерия">Сост. аудиторий</option>
                    <option value="Програмная инженерия">Инструкция</option>
                    <option value="Програмная инженерия">Замена ППС (на сегодня)</option>
                </select>
            </div>
        </li>
    </ul>
</div>
<div class="table_area">
        <table align=left class="table table-bordered">
            <tr class="table__header">
                {% for header in headings %}

                {% if headings.index(header) == 0 %}
                <th class="table__cell_fixed" style="width: 300px;">
                    {{header[0]}} <br>  <p style="color:grey; margin:0px; font-weight: normal"> {{header[1]}} </p>
                </th>

                {% elif headings.index(header) == index %}
                <th style="background-color:#FEEFDD" class="table__cell">
                    <div style="display:flex; justify-content: space-between;">
                        <div>
                    {{header[0]}} <br>  <p style="color:grey; margin:0px; font-weight: normal"> {{header[1]}} </p>
                        </div>

                    </div>
                </th>
                {% else %}
                <th class="table__cell" style="width: 150px;">
                    <div style="display:flex; justify-content: space-between;">
                        <div>
                    {{header[0]}} <br>  <p style="color:grey; margin:0px; font-weight: normal"> {{header[1]}} </p>
                        </div>



                    </div>
                </th>
                {% endif %}
                {% endfor %}
            </tr>


            {% for row in data %}

            <tr align=left class="table__row">
                {% for cell in row %}

                {% if row.index(cell) == 0 %}
                <td class="table__cell_fixed" style="width: 300px;">
                       {{cell[0]}}.  {{cell[1]}}  <br> <p style="font-weight:bold; color: #F6941E; margin:0px;">&emsp;{{cell[2]}} </p>
                </td>

                {% elif row.index(cell) == 3 and cell != ""  %}

                <th class="table__cell" style="width: 200px;">
                    <div style="display:flex"><p style="margin:0px">  {{cell[1]}} </p> <p style="margin:0px; color:grey"> /{{count_of_works}}</p> </div>
                </th>

                {% elif row.index(cell) == 4 and cell != ""  %}

                <th class="table__cell" style="width: 200px;">
                    <div style="display:flex"><p style="margin:0px">  {{cell[1]}} </p> <p style="margin:0px; color:grey"> /{{count_of_practical_classes}}</p> <p style="margin-left:10px; color:grey">  ({{'{:.0f}'.format((cell[1])*100/count_of_practical_classes)  }}%)</p> </div>
                </th>

                {% elif row.index(cell) == 5 and cell != ""  %}

                <th class="table__cell" style="width: 200px;">
                    <div style="display:flex"><p style="margin:0px">  {{cell[1]}} </p> <p style="margin:0px; color:grey"> /{{count_of_all_classes}}</p> <p style="margin-left:10px; color:grey">  ({{'{:.0f}'.format((cell[1])*100/count_of_all_classes)  }}%)</p> </div>
                </th>

                 {% elif row.index(cell) == 6 and cell != ""  %}

                <th class="table__cell" style="width: 200px;">
                    <div style="display:flex"><p style="margin:0px">  {{cell[1]}} </p> <p style="margin:0px; color:grey"> /{{count_of_discipline_points}}</p>  </div>
                </th>

                {% elif row.index(cell) == 8  %}

                <th class="table__cell" style="width: 200px;">
                    {% if row[6][1] < count_of_points_for_three  %}
                    <div style="display:flex"><p style="margin:0px; color: red">  неудовл. </p>   </div>
                    {% elif row[6][1] >= count_of_points_for_three and row[6][1] < count_of_points_for_four  %}
                    <div style="display:flex"><p style="margin:0px;">  удовл. </p>  </div>
                     {% elif row[6][1] >= count_of_points_for_four and row[6][1] < count_of_points_for_five  %}
                    <div style="display:flex"><p style="margin:0px"> хорошо </p> </div>
                     {% elif row[6][1] >= count_of_points_for_five %}
                    <div style="display:flex"><p style="margin:0px; color: #28A745">  отлично </p> </div>
                    {% endif %}
                </th>

                {% else %}

                 <th class="table__cell" style="width: 200px;">
                     {{cell[1]}}
                </th>


                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
</div>
{% endblock %}